/* 100-12 = 88vh */
#content{
  height: 88vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #494747;
}
.work{
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: center;
  margin-top: 8vh;
}
.text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30vw;
  line-height: 150%;
}
.role{ font-style: italic; }
.app{ 
  font-size: 1.8em; 
  font-weight: bold;
}
.btn{
  color: black;
  text-decoration: none;
  border-radius: 5px;
  border: black solid 1px;
  height: auto;
  text-align: center;
  width: 175px;
}
.app-img{
  height: 250px;
  width: auto;
  margin-left: 15px;
}

/* Media Queries @max-width: 960*/
@media screen and (max-width: 960px){
  #content{ 
    justify-content: flex-start;
    height: 100vh;
    flex-direction: column;
  }
  #aboutme{ width: 80vw; }
  .work{
    display: block;
    width: 65vw;
  }
  .text{ 
    width: inherit;
    line-height: 170%;
  }
  .app-img{ 
    height: auto;
    width: 200px;
    margin-left: 0;
    margin-top: 10px;
  }
}