p {
  margin-bottom: 4vh;
}
#landing-me {
  object-fit: cover;
  height: inherit;
  width: 100%;
}

#contact a img {
  height: 35px;
  margin-right: 5px;
}
#landing-me p {
  position: absolute;
  z-index: 1;
  color: white;
  font-size: 1.5rem;
  max-width: 20ch;
  text-align: center;
  line-height: 2rem;
}
#landing-container {
  height: 100vh;
  width: 100vw;
}

/* Work Content */
#work-text {
  text-align: center;
}
#work-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 30px;
}
#work-container p {
  text-align: center;
  max-width: inherit;
}

/* About Content */
#about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#about-me-photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
}
#about-bio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Tablets md and larger */
/* 
  Desktop   (min-width: 1824px)
  Laptop:   (max-width: 1024px)
  Tablet:   (max-width: 768px)
  Phone md: (max-width: 414px)
  Phone sm: (max-width: 320px)
*/
@media (min-width: 1025px) {
  #landing-container {
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/media/landing.svg");
  }
  #landing-me {
    display: none;
  }
  #about-container {
    flex-direction: row;
    height: auto;
    margin-top: 10vh;
  }
  #about-me-photo-container {
    justify-content: center;
    height: inherit;
    width: 40vw;
    margin-right: 10px;
  }
  #about-bio {
    width: 40vw;
  }
}
