p {
  margin-bottom: 4vh;
}

/* Work Content */
#work-text {
  margin-top: 10vh;
  text-align: center;
}
#work-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 30px;
}
#work-container p {
  text-align: center;
  max-width: inherit;
}

/* About Content */
#about-container {
  margin-top: 20vh;
  margin-bottom: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#about-me-photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
}
#about-me-photo {
  height: inherit;
  width: inherit;
}
#about-bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4vh;
}

/* Tablets md and larger */
/* 
  Desktop   (min-width: 1824px)
  Laptop:   (max-width: 1024px)
  Tablet:   (max-width: 768px)
  Phone md: (max-width: 414px)
  Phone sm: (max-width: 320px)
*/
@media (min-width: 768px) {
  #about-container {
    flex-direction: row;
    height: 70vh;
  }
  #about-me-photo-container {
    justify-content: center;
    height: inherit;
    width: 50vw;
  }
  #about-me-photo {
    width: auto;
  }
  #about-me-bio {
    width: 50vw;
  }
  .process-icon {
    width: 128px;
  }
}
