/* 100-12 = 88vh */
#content{
  height: 86vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: #494747;
}
#photo-nav{
  display: flex;
  flex-direction: column;
  width: 15vw;
  height: 50vh;
  line-height: 500%;
  justify-content: center;
  align-items: center;
}
#photo-nav a{
  color: black;
  text-decoration: none;
  margin-left: 15px;
  font-size: 1.5em;
  height: inherit;
}
#photo-container{
  display: flex;
  flex-direction: column;
  width: 75vw;
  height: 88vh;
  overflow-y: auto;
  justify-content: flex-start;
}
.inner-photo-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.photo{
  height: inherit;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.photo-link{
  height: 35vh;
  margin: 10px;
}

/* Media Queries @max-width: 960*/
@media screen and (max-width: 960px){
  #photo-nav{ 
    flex-direction: row;
    justify-content: space-evenly;
    height: 10vh;
    width: 80vw;
    margin-left: 10vw;
    overflow-y: hidden;
  }
  #photo-nav a{
    color: black;
    text-decoration: none;
    margin-left: 0;
    font-size: .7em;
  }
  #photo-container{
    width: 100vw;
  }
  .inner-photo-container{ justify-content: center;}
  #content{ height: 100vh; }

}


