body{
  font-weight: 300;
  font-family: Roboto;
  /* font-family: adelle-sans; */
}

#page{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

/* Navigation Bar */
#mobile-navbar{ display: none;}

#spacer{ 
  height:2vh;
}
/* 10vh */
#header{
  height:10vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#header a{
  text-decoration: none;
  color: black;
}
#logo{
  height: 100px;
  width: 100px;
}
/* 15vw */
#logo_container{
  display: flex;
  flex-direction: row;
  width: 15vw;
  justify-content: center;
}
/* 70vw */
#nav_container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 70vw;
  height: inherit;
  align-items: center;
  font-size: 1.2em;
}
/* 15vw */
#resume_container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 15vw;
  text-align: center;
  font-size: 1.3em;
}
.separator{
  width: 55vw;
  border: solid .5px black;
}/* End of Navigation Bar */

/* 100-12 = 88vh */
#content{
  height: 88vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #494747;
}


.btn{
  color: black;
  text-decoration: none;
  border-radius: 5px;
  border: black solid 1px;
  text-align: center;
  width: 175px;
  padding: 10px 0;
}

/* Content */
#role-skills-duration-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 10vh;
  width: 55vw;
  align-items: center;
}
.top-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: inherit;
  justify-content: center;
}
#overview-header{
  display: flex;
  flex-direction: column;
  color: #3098E7;
  font-weight: bold;
  font-size: 2em;
  height: 10vh;
  align-items: center;
  justify-content: center;
}
#overview{
  line-height: 150%;
  width: 55vw;
}

#developer-notes{
  width: 45vw;
  height: 40vh;
}

#inner-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 60vh;
}

/* Media Queries @max-width: 960*/
/* Navigation Bar */
@media screen and (max-width: 960px){
  #role-skills-duration-container{
    flex-direction: column;
    justify-content: space-evenly;
    height: 40vh;
    width: 100vw;
  }
  .top-card{
    height: auto;
    width: inherit;
  }
  #content{ 
    display: block; 
    height: 100vh; 
  }
  #overview{ width: 65vw; }
  #developer-notes{ width: 65vw; }
  #inner-content{ height: auto; }
}