/* 100-12 = 88vh */
#content{
  height: 88vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #494747;
}

.btn{
  color: black;
  text-decoration: none;
  border-radius: 5px;
  border: black solid 1px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  text-align: center;
  width: 175px;
  padding: 10px 0;
}

/* Content */
#role-skills-duration-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 10vh;
  width: 55vw;
  align-items: center;
}
.top-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: inherit;
  justify-content: center;
  text-align: center;
}
#overview-header{
  display: flex;
  flex-direction: column;
  color: #008b8b;
  font-weight: bold;
  font-size: 2em;
  height: 10vh;
  align-items: center;
  justify-content: center;
}
#overview{
  line-height: 150%;
  width: 55vw;
}

#developer-notes{
  width: 45vw;
  height: 40vh;
}

#inner-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 60vh;
}

/* Media Queries @max-width: 960*/
/* Navigation Bar */
@media screen and (max-width: 960px){
  #content{ display: block; }
  #role-skills-duration-container{
    flex-direction: column;
    justify-content: space-evenly;
    height: 40vh;
    width: 100vw;
  }
  .top-card{
    height: auto;
    width: inherit;
  }

  #overview{ width: 65vw; }
  #developer-notes{ width: 65vw; }
  #inner-content{ height: auto; }
}